<div bsModal #modalCR="bs-modal" (onHidden)="clearForm()" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-primary" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{(model_form_control._method.value)=='POST'?'Crear':'Modificar'}} Turno</h4>
        <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="form_model.form" id="creationFormCR" (ngSubmit)='showPreconfirmMessage()'>

        <div class="modal-body">

          <div class="row">

            <div class="col-12">


      







    <h6 class="mt-4 text-muted">Turno:</h6>
              <div  class="input-group mb-3">

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>

                <input 
                  required
                  readonly="" 
                  class="form-control pointer"
                  name="shift_hour"
                  [owlDateTime]="shift_hour"
                  placeholder="Turno..."
                  [owlDateTimeTrigger]="shift_hour"
                  formControlName='shift_hour'

                >

                <owl-date-time 
                  #shift_hour
                  [pickerType]="'timer'"
                  [hour12Timer]="true"
                ></owl-date-time>

              </div>


    
    <h6 class="text-muted">Estado:</h6>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span
                    [ngClass]="{'text-danger':model_form_control.status.invalid && model_form_control.status.touched, 'text-success':model_form_control.status.valid}"
                    class="input-group-text"><i class="fa fa-comment  "></i></span>
                </div>


                <select class="form-control"  required="" name="status" class="form-control"
                   formControlName='status'>
                     <option value="active">Active</option>
                     <option value="inactive">Inactive</option>

                   </select>
             
              </div>




            </div>

          </div>

        </div>

      </form>

      <div class="modal-footer">
        <button type="submit" form="creationFormCR" [disabled]="form_model.is_invalid || sendingForm"
          class="btn btn-success float-right">{{(model_form_control._method.value)=='POST'?'Crear':'Modificar'}}</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->