
<div class="animated fadeIn" >

	<div class="card">

		<div class="card-header">

      <div class="row">

        <div class="col-12 col-sm-4 col-lg-8">
          <h1>
            <i class="fa fa-crop text-primary"></i>&nbsp;<i class="fa fa-cubes text-primary"></i> Turnos
          </h1>
        </div>

        <div class="col-4 col-sm-4 col-lg-2">
     
        </div>


        <div class="col-4 col-sm-4 col-lg-2">
          <button (click)="showCreationModal()" type="button" class="btn btn-block btn-primary float-right" >
            <i class="fa fa-plus"></i> Crear
          </button>
        </div>

      </div>
			
		</div>
		
		<div class="card-body">

      <table-component
     (delete)="delete($event)"
     (showCreationModal)="showCreationModal($event)"

      ></table-component>

		</div>

	</div>

</div>


<creation-modal
  (reloadTable)="reloadTable()"
></creation-modal>


