<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">

      <detail-header [title]="'Detalles de turno'" [subtitle]="shift.shift_hour" [icon]="'fa fa-cube'">
      </detail-header>

    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-12">
          <h4>Datos:</h4>
        </div>

        <div class="col-6">

          <h6 class="text-muted">Turno:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-ticket"></i></span>
            </div>

            <input type="text" readonly="" class="form-control" [value]="shift.shift_hour">
          </div>

        </div>

        <div class="col-6">

          <h6 class="text-muted">Estado:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-eye"></i></span>
            </div>

            <input type="text" readonly="" value="{{shift.status}}" class="form-control">
          </div>

        </div>

       

          
         
      

        <hr class="p-2">

         <div class="col-12" >

          <h6 class="text-muted"><i class="fa fa-bars"></i> &nbsp;Peliculas:</h6>

          <table class="table text-center table-sm table-hover table-striped" *ngIf="shift.movies.length>0">
            <thead>
              <tr class="table-primary">
                <th>Nombre</th>
                <th>Fecha de Publicación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of shift.movies">
                <th>
                    {{movie.name}}
                </th>
                <th>{{movie.publication_date | date: 'yyyy-MM-dd'}}</th>
              </tr>
            </tbody>
          </table>

            <div class="text-center" *ngIf="shift.movies.length==0">
              <h6>Este turno aun no posee peliculas</h6>
            </div>

        </div>


      </div>

    </div>

  </div>

</div>