<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">

      <detail-header [title]="'Detalles de Pelicula'" [subtitle]="movie.name" [icon]="'fa fa-cube'">
      </detail-header>

    </div>

    <div class="card-body">

      <div class="row">

        <div class="col-12">
          <h4>Datos:</h4>
        </div>
        <div class="col-12 text-center" *ngIf="imgSrc!=''">
          <img [src]="imgSrc" width="300px" >
            <br>
        </div>

        <div class="col-4">

          <h6 class="text-muted">Nombre:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-film"></i></span>
            </div>

            <input type="text" readonly="" class="form-control" [value]="movie.name">
          </div>

        </div>

       
        <div class="col-4">

          <h6 class="text-muted">Fecha de Publicación:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-date"></i></span>
            </div>

            <input type="text" readonly="" value="{{movie.publication_date  | date: 'yyyy-MM-dd'}}" class="form-control">
          </div>

        </div>

        <div class="col-4">

          <h6 class="text-muted">Estado:</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-eye"></i> </span>
            </div>

            <input type="text" readonly="" value="{{movie.status}}" class="form-control">
          </div>

        </div>

        

          
         
      

        <hr class="p-2">
  <div class="col-12" >

          <h6 class="text-muted"><i class="fa fa-bars"></i> &nbsp;Turnos:</h6>

          <table class="table text-center table-sm table-hover table-striped" *ngIf="movie.shifts.length>0">
            <thead>
              <tr class="table-primary">
                <th>Turno</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shift of movie.shifts">
                <th>
                    {{shift.shift_hour}}
                </th>
                <th>{{shift.status}}</th>
              </tr>
            </tbody>
          </table>

            <div class="text-center" *ngIf="movie.shifts.length==0">
              <h6>Esta pelicula aun no posee Turnos</h6>
            </div>

        </div>

       

      </div>

    </div>

  </div>

</div>