<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-responsive-sm text-center">
  <thead>
  </thead>
  <tbody (click)="emitEvents($event)"> 
  </tbody>
</table>
